.GridCell {
  width: 3vw;
  height: 3vw;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
